.hero {
  background: url("../img/bg/hero-bg.png") center center no-repeat;
  background-size: cover;
  flex-direction: column;

  .section__title {
    @include phones {
      white-space: nowrap;
    }
  }
  @include tablets {
    padding-bottom: rem(100px);
  }
}

.hero__content {
  display: flex;
  justify-content: space-between;
  animation: fadeInBurger 1s;

  @include laptop {
    padding-left: 0;
  }

  @include tablets {
    flex-direction: column;
    padding-bottom: 4%;
  }
}

.hero__container {
  display: flex;
  flex: 0.8;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablets {
    justify-content: center;
  }
}

.hero__left,
.hero__right {
  width: 49%;

  @include tablets {
    width: 100%;
  }
}

.hero__left {
  @include tablets {
    margin-bottom: rem(25px);
  }
}

.hero__right {
  padding-top: rem(115px);
  @include tablets {
    text-align: center;
    padding: 0 rem(20px);
  }
  @include phones {
    padding: 0 3%;
  }
}

.hero__desc {
  font-size: rem(65px);
  color: white;
  @include lifehack;
  text-transform: lowercase;
  line-height: 1em;

  @include phones {
    font-size: rem(48px);
  }
}

.hero__img {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;

  @include tablets {
    max-width: 80%;
  }
}

.down-arrow {
  position: absolute;
  bottom: rem(20px);
  left: 50%;
  width: rem(60px);
  transform: translateX(-50%);
  transition: 0.3s;
  height: rem(60px);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    .down-arrow__icon {
      margin-top: rem(-10px);
      width: rem(35px);
      height: rem(35px);
    }
  }
}

.down-arrow__icon {
  width: rem(30px);
  height: rem(30px);
  transition: 0.3s;
  fill: #fff;
}

@keyframes fadeInBurger {
  from {
    transform: scale(0.6);
  }

  to {
    transform: scale(1);
  }
}
