.video {
  background: url("../img/bg/video.jpg") center center/cover no-repeat;
  display: flex;
  align-items: center;

  .container {
    align-items: center;
    width: 660px;

    @include laptop {
      width: 92%;
    }
  }
}
