html {
  font-size: rem(17px);

  @include desktop {
    font-size: rem(16px);
  }

  @include laptop {
    font-size: rem(15px);
  }

  @include tablets {
    font-size: rem(16px);
  }

  @include phones {
    font-size: rem(14px);
  }
}

html,
body {
  height: 100%;
}

body {
  font-size: rem(16px);
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  position: relative;
  @include ubuntu();
  color: $black;
}

button {
  outline: none;
}

.maincontent {
  position: relative;
}

.container {
  margin: 0 auto;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: rem(940px);
  display: flex;
  flex-direction: column;

  @include laptop {
    width: 92%;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  // min-width: rem(940px) + rem(20px);
  min-height: 100%;
  overflow: hidden;
}

// tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

textarea,
input {
  border-radius: 2px;
  outline: none;
  resize: none;
  border: 2px solid #fff;
}

input:focus,
textarea:focus {
  border: 1px solid $yellow;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#fp-nav {
  @include tablets {
    display: none;
  }
}